* {
    box-sizing: border-box;
    text-align: center;
    font-size: 32px;
    color: white;
    /* border: 2px solid teal; */
}

body > section {
    border: 5px solid rgb(68, 68, 68);
    display: flex;
    flex-wrap: wrap;
    height: auto;
    width: 470px;
    background-color: beige;
}

html {
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: bisque;
}

.result {
    height: 90px;
    width: 100%;
    margin: 3px;
    padding-right: 10px;
    padding-bottom: 5px;
    border: 2px solid rgb(68, 68, 68);
    border-radius: 5%;
    background-color: white;
    color: black;
    font-size: 64px;
    text-align: right;
}

.middle {
    display: flex;
    flex-direction: column;
    margin-left: 5px;
}

button {
    padding-top: 5px;
    margin: 5px;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: initial;
}

button:hover {
    font-size: 35px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); 
}

.blue {
    display: flex;
    width: fit-content;
}

.blue button {
    background-color: rgb(167, 167, 167);
}

.light {
    display: flex;
    flex-wrap: wrap;
    width: 335px;
}

.light button {
    background-color: rgb(68, 68, 68);
}

.light2 {
    display: flex;
    margin-top: auto;
}

.light2 button {
    background-color: rgb(68, 68, 68);
}

.light2 :first-child {
    width: 200px;
    border-radius: 45%;
}

.right {
    display: flex;
    flex-direction: column;
}

.right button {
    background-color: orange;
}

/* Animation */

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.result {
    opacity: 0;
    animation: fadeIn 3s ease-in-out forwards;
}

@keyframes bounce {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20px); 
    }
}
  
span {
    display: inline-block;
    color: black;
    font-size: 64px;
    padding-top: 7px;
    animation: bounce 1.5s ease-in-out infinite; 
}
  